{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "es2022": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": "warn"
  }
}
